## **Movie Recommemdation System **

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib  inline

In [10]:
!pip install pandas
!pip install numpy 
!pip install matplotlib

Requirement already satisfied: pandas in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (1.26.1)
Requirement already satisfied: matplotlib in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.45.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.1)
Requirement already satisfied: packaging>=20.0 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [11]:
movie=pd.read_csv('tmdb_5000_credits.csv')
movie_credit=pd.read_csv('tmdb_5000_movies.csv')

In [12]:
print(movie,'\n')
print(movie_credit)

      movie_id                                     title  \
0        19995                                    Avatar
1          285  Pirates of the Caribbean: At World's End
2       206647                                   Spectre
3        49026                     The Dark Knight Rises
4        49529                               John Carter
...        ...                                       ...
4798      9367                               El Mariachi
4799     72766                                 Newlyweds
4800    231617                 Signed, Sealed, Delivered
4801    126186                          Shanghai Calling
4802     25975                         My Date with Drew

                                                   cast  \
0     [{"cast_id": 242, "character": "Jake Sully", "...
1     [{"cast_id": 4, "character": "Captain Jack Spa...
2     [{"cast_id": 1, "character": "James Bond", "cr...
3     [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4     [{"cast_id": 5, "character": "John Carter", "c...
...                                                 ...
4798  [{"cast_id": 1, "character": "El Mariachi", "c...
4799  [{"cast_id": 1, "character": "Buzzy", "credit_...
4800  [{"cast_id": 8, "character": "Oliver O\u2019To...
4801  [{"cast_id": 3, "character": "Sam", "credit_id...
4802  [{"cast_id": 3, "character": "Herself", "credi...

                                                   crew
0     [{"credit_id": "52fe48009251416c750aca23", "de...
1     [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     [{"credit_id": "54805967c3a36829b5002c41", "de...
3     [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...                                                 ...
4798  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 4 columns]

         budget                                             genres  \
0     237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...         ...                                                ...
4798     220000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799       9000  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800          0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801          0                                                 []
4802          0                [{"id": 99, "name": "Documentary"}]

                                               homepage      id  \
0                           http://www.avatarmovie.com/   19995
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
4                  http://movies.disney.com/john-carter   49529
...                                                 ...     ...
4798                                                NaN    9367
4799                                                NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords original_language  \
0     [{"id": 1463, "name": "culture clash"}, {"id":...                en
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4     [{"id": 818, "name": "based on novel"}, {"id":...                en
...                                                 ...               ...
4798  [{"id": 5616, "name": "united states\u2013mexi...                es
4799                                                 []                en
4800  [{"id": 248, "name": "date"}, {"id": 699, "nam...                en
4801                                                 []                en
4802  [{"id": 1523, "name": "obsession"}, {"id": 224...                en

                                original_title  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4798                               El Mariachi
4799                                 Newlyweds
4800                 Signed, Sealed, Delivered
4801                          Shanghai Calling
4802                         My Date with Drew

                                               overview  popularity  \
0     In the 22nd century, a paraplegic Marine is di...  150.437577
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bond’s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
4     John Carter is a war-weary, former military ca...   43.926995
...                                                 ...         ...
4798  El Mariachi just wants to play his guitar and ...   14.269792
4799  A newlywed couple's honeymoon is upended by th...    0.642552
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476
4801  When ambitious New York attorney Sam is sent t...    0.857008
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies  \
0     [{"name": "Ingenious Film Partners", "id": 289...
1     [{"name": "Walt Disney Pictures", "id": 2}, {"...
2     [{"name": "Columbia Pictures", "id": 5}, {"nam...
3     [{"name": "Legendary Pictures", "id": 923}, {"...
4           [{"name": "Walt Disney Pictures", "id": 2}]
...                                                 ...
4798           [{"name": "Columbia Pictures", "id": 5}]
4799                                                 []
4800  [{"name": "Front Street Pictures", "id": 3958}...
4801                                                 []
4802  [{"name": "rusty bear entertainment", "id": 87...

                                   production_countries release_date  \
0     [{"iso_3166_1": "US", "name": "United States o...   2009-12-10
1     [{"iso_3166_1": "US", "name": "United States o...   2007-05-19
2     [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26
3     [{"iso_3166_1": "US", "name": "United States o...   2012-07-16
4     [{"iso_3166_1": "US", "name": "United States o...   2012-03-07
...                                                 ...          ...
4798  [{"iso_3166_1": "MX", "name": "Mexico"}, {"iso...   1992-09-04
4799                                                 []   2011-12-26
4800  [{"iso_3166_1": "US", "name": "United States o...   2013-10-13
4801  [{"iso_3166_1": "US", "name": "United States o...   2012-05-03
4802  [{"iso_3166_1": "US", "name": "United States o...   2005-08-05

         revenue  runtime                                   spoken_languages  \
0     2787965087    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1      961000000    169.0           [{"iso_639_1": "en", "name": "English"}]
2      880674609    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3     1084939099    165.0           [{"iso_639_1": "en", "name": "English"}]
4      284139100    132.0           [{"iso_639_1": "en", "name": "English"}]
...          ...      ...                                                ...
4798     2040920     81.0      [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
4799           0     85.0                                                 []
4800           0    120.0           [{"iso_639_1": "en", "name": "English"}]
4801           0     98.0           [{"iso_639_1": "en", "name": "English"}]
4802           0     90.0           [{"iso_639_1": "en", "name": "English"}]

        status                                            tagline  \
0     Released                        Enter the World of Pandora.
1     Released     At the end of the world, the adventure begins.
2     Released                              A Plan No One Escapes
3     Released                                    The Legend Ends
4     Released               Lost in our world, found in another.
...        ...                                                ...
4798  Released  He didn't come looking for trouble, but troubl...
4799  Released  A newlywed couple's honeymoon is upended by th...
4800  Released                                                NaN
4801  Released                           A New Yorker in Shanghai
4802  Released                                                NaN

                                         title  vote_average  vote_count
0                                       Avatar           7.2       11800
1     Pirates of the Caribbean: At World's End           6.9        4500
2                                      Spectre           6.3        4466
3                        The Dark Knight Rises           7.6        9106
4                                  John Carter           6.1        2124
...                                        ...           ...         ...
4798                               El Mariachi           6.6         238
4799                                 Newlyweds           5.9           5
4800                 Signed, Sealed, Delivered           7.0           6
4801                          Shanghai Calling           5.7           7
4802                         My Date with Drew           6.3          16

[4803 rows x 20 columns]

In [13]:
print(movie.columns)
print(movie_credit.columns)

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')
Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [14]:
#   try to find  column column based on the give dataset
print(movie.movie_id[0])
print(movie_credit.id[0])

19995
19995

In [15]:
#   try to find  column column based on the give dataset
print(movie_credit.original_title[0])
print(movie.title[0])

# try to check shape of our dataset
print('\n\n find shapes of dataset  \n',movie.shape)
print(movie_credit.shape)

Avatar
Avatar


 find shapes of dataset
 (4803, 4)
(4803, 20)

In [16]:
#merge dataset to each other base on the  title  feature

movie_rating=movie.merge(movie_credit,on='title')
movie_rating.head(2)

,movie_id,title,cast,crew,budget,genres,homepage,id,keywords,original_language,...,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,...,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,...,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",6.9,4500

In [17]:
# now check out main or needed feature and  give for ralated and aslo provide information about dataset

# movie_rating.columns
movie_rating.isnull().sum()

# out imp features selecting  genres,id,keyword ,original_title,overview

movie_id                   0
title                      0
cast                       0
crew                       0
budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
vote_average               0
vote_count                 0
dtype: int64

In [18]:
# movie_rating['id']=movie_rating['id'].astype(str)

In [19]:
#genres,id,keyword,title,overview,tagline,cast,crew
# movie_rating=movie_rating['genres']+movie_rating['id']+movie_rating['keywords']+movie_rating['overview']+movie_rating['title']+movie_rating['cast']+movie_rating['crew']
movie_rating =  movie_rating[['genres','id','keywords','overview','title','cast','crew']]

In [20]:
movie_rating.head(2)

,genres,id,keywords,overview,title,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [21]:
#try to check out first column values
# movie_rating.iloc[0].id
movie_rating.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [22]:
import json
def convert(item):
    store=[]# create on list
    for i in json.loads(item):
        store.append(i['name']) # onlystoring name beacuse genres store
    return store

In [23]:
# Convert the string to a list of dictionaries 1st way
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')


# Convert the string to a list of dictionaries 2nd way
# import json
# json.loads('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [24]:
# genres feature convert  string to on list succesfully

movie_rating['genres']=movie_rating['genres'].apply(convert)
# keywords feature convert  string to on list succesfully
movie_rating['keywords']=movie_rating['keywords'].apply(convert)

In [25]:
# find only top three actores in thw cast feature

def  top3actors(act):
    act_list=[]
    for i in json.loads(cast):
        for j in j ==2:
            act_list(j[name])
        break
    return act_list

In [26]:
# cast feature convert  string to on list succesfully
movie_rating['cast']=movie_rating['cast'].apply(convert)

In [27]:
def find_director(direct):
    find_d=[]
    for i in json.loads(direct):
        if i['job']== 'Director':
            find_d.append(i['name'])
            break
    return find_d

In [28]:
# Apply the function to the 'crew' column
movie_rating['crew']=movie_rating['crew'].apply(find_director)

In [29]:

movie_rating.head(2)

# movie_rating.drop(['directors'],axis=1) # delete column

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]

In [30]:
# need to  overview convert into the  list  for that use lamda function

# movie_rating['overview'].apply(lambda x: list(x))
# movie_rating['overview']=movie_rating['overview'].apply(lambda x:x.split())

import pandas as pd

# Assuming 'overview' column may have NaN values
movie_rating['overview'] = movie_rating['overview'].apply(lambda x: x.split() if pd.notna(x) else [])

In [31]:
movie_rating.head(2)

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]

In [32]:

# remove whitespace betweent text for better machine learning
movie_rating['genres']=movie_rating['genres'].apply(lambda x:[i.replace(' ','') for i in x])

In [33]:
movie_rating['keywords']=movie_rating['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movie_rating['overview']=movie_rating['overview'].apply(lambda x:[x.replace(" ","")for x in x])
movie_rating['cast']=movie_rating['cast'].apply(lambda x:[x.replace(" ","") for x in x])

In [34]:

# movie_rating['title']=movie_rating['title'].apply(lambda x:list[x])

movie_rating.head(2)

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[Gore Verbinski]

In [35]:
# try to concanant  genres , keywords,overview,title,cast and crew columns

# movie_rating=pd.DataFrame(movie_rating)

movie_rating['tags']=movie_rating['genres']+movie_rating['keywords']+movie_rating['overview']+movie_rating['cast']+movie_rating['crew']
movie_rating['tags']=movie_rating['tags'].apply(lambda x: " ".join(x))
# movie_rating['tags'] = (
#     movie_rating['genres'].astype(str) + ' ' +
#     movie_rating['keywords'].astype(str) + ' ' +
#     movie_rating['overview'].astype(str) + ' ' +
#     movie_rating['title'].astype(str) + ' ' +
#     movie_rating['cast'].astype(str) + ' ' +
#     movie_rating['crew'].astype(str)
# )

In [36]:
movie_rating.head(2)

,genres,id,keywords,overview,title,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[James Cameron],Action Adventure Fantasy ScienceFiction cultur...
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[Gore Verbinski],Adventure Fantasy Action ocean drugabuse exoti...

In [37]:
movie=movie_rating[['id','title','tags']]
print('\n final dataset \n ')
movie.head(5)

 final dataset

,id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...

In [38]:
movie['tags'][0]

'Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee James Cameron'

In [39]:
movie['tags'] = movie['tags'].apply(lambda x: x.lower())
# movie['tags'] = movie['tags'].apply(lambda x: x.lower())

C:\Users\chaud\AppData\Local\Temp\ipykernel_1852\3815288682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['tags'] = movie['tags'].apply(lambda x: x.lower())

In [40]:
movie.head(3)
# now first create all tags  verctor using ibuild libary

,id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...

In [41]:
# for create tages into the vectores need to  countvectorizer
# create vectors maximum 1000 and wording in english
from sklearn.feature_extraction.text import CountVectorizer
c_vector=CountVectorizer(stop_words='english',max_features=5000)

In [42]:
vectors=c_vector.fit_transform(movie['tags']).toarray()

In [43]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [44]:
# check out values
c_vector.get_feature_names_out()
# len(c_vector.get_feature_names_out())

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoëkravitz'],
      dtype=object)

In [46]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
     ------------- -------------------------- 0.5/1.5 MB 10.7 MB/s eta 0:00:01
     ----------------------------- ---------- 1.1/1.5 MB 11.5 MB/s eta 0:00:01
     ---------------------------------------  1.5/1.5 MB 12.0 MB/s eta 0:00:01
     ---------------------------------------- 1.5/1.5 MB 9.6 MB/s eta 0:00:00
Requirement already satisfied: click in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.3.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2023.12.25-cp312-cp312-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     ---------------------------------------- 42.0/42.0 kB ? eta 0:00:00
Collecting tqdm (from nltk)
  Downloading tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ---------------------------------------- 57.6/57.6 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\chaud\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)
Downloading regex-2023.12.25-cp312-cp312-win_amd64.whl (268 kB)
   ---------------------------------------- 0.0/268.9 kB ? eta -:--:--
   ---------------------------------------- 268.9/268.9 kB 8.1 MB/s eta 0:00:00
Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.3 kB ? eta -:--:--
   ---------------------------------------- 78.3/78.3 kB 4.3 MB/s eta 0:00:00
Installing collected packages: tqdm, regex, nltk
Successfully installed nltk-3.8.1 regex-2023.12.25 tqdm-4.66.1

In [47]:
# this is alorithm conver word into there original form  ex. loving , loved and ans is love


from nltk.stem.porter import PorterStemmer

na_con=PorterStemmer()

In [48]:

def nature_con(obj):
    wd=[]
    for i in obj.split():
        wd.append(na_con.stem(i))
    return " ".join(wd)

In [49]:
na_con.stem('loving')

'love'

In [50]:
movie['tags']=movie['tags'].apply(nature_con)
# now rerun conutvectorization function and now get changes and dublicase remove it now

C:\Users\chaud\AppData\Local\Temp\ipykernel_1852\3386152617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['tags']=movie['tags'].apply(nature_con)

In [51]:
movie.head(5)

,id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict culturecla...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drugabus exotici...
2,206647,Spectre,action adventur crime spi basedonnovel secreta...
3,49026,The Dark Knight Rises,action crime drama thriller dccomic crimefight...
4,49529,John Carter,action adventur sciencefict basedonnovel mar m...

In [52]:
# now all off vector find consine distance  not a euclidean_distances
from sklearn.metrics.pairwise import cosine_similarity

#apply on the vector
similarity_score=cosine_similarity(vectors)

vectors

In [53]:
# check out similarity score with there movie  0 = movie_index similarity score  1
# list(enumarate(similarity_score[0])) # spelling mistake
sorted(list(enumerate(similarity_score[2])),reverse=True,key= lambda x: x[1])[1:7]  # sort for the higest in top and lowest in the bottom
# sort create list emurate(stuck values) sm_socre on desending  key (based on second column not first [1;7] top 6 movie chahiye)
# list(enumerate(similarity_score[0]))

[(29, 0.3891882645212856),
 (11, 0.36440544440674755),
 (1346, 0.3200921998322399),
 (3167, 0.25724787771376323),
 (4078, 0.254000254000381),
 (1723, 0.23570226039551584)]

In [54]:

# def recommend(movie_name):
#     mv_index = movie[movie['title'] == movie_name].index[0]
#     distance = similarity_score[mv_index]
#     rec_mov = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:7]
#     for i in rec_mov:
#         print(movie.iloc[(i[0])].title)


def recommend(movie_name):
    # Check if the movie is in the dataset
    if movie_name in movie['title'].values:
        mv_index = movie[movie['title'] == movie_name].index[0]
        distance = similarity_score[mv_index]
        rec_mov = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:7]

        print(f"Recommended movies for '{movie_name}':")
        for i in rec_mov:
            recommended_title = movie.iloc[i[0]]['title']
            print(recommended_title.title())
    else:
        print(f"The movie '{movie_name}' is not found in the dataset.")

# Example usage:
recommend('Avatar')

Recommended movies for 'Avatar':
Lifeforce
Aliens Vs Predator: Requiem
Aliens
Battle: Los Angeles
Titan A.E.
Independence Day

In [55]:

# recommend('John Carter')
recommend('Avatar')

Recommended movies for 'Avatar':
Lifeforce
Aliens Vs Predator: Requiem
Aliens
Battle: Los Angeles
Titan A.E.
Independence Day

In [56]:
movie[movie['title'] == 'John Carter'].index # try to find index

Index([4], dtype='int64')

In [57]:
def recommend(movie_name):
    # Convert input movie name to lowercase
    movie_name_lower = movie_name.lower()

    # Convert all titles in the DataFrame to lowercase
    movie['title_lower'] = movie['title'].str.lower()

    # Find the index of the movie in lowercase
    mv_index = movie[movie['title_lower'] == movie_name_lower].index
    if len(mv_index) == 0:
        print("Movie not found.")
        return

    # Use the first index (assuming there are no duplicates)
    mv_index = mv_index[0]

    # Calculate similarity scores
    distance = similarity_score[mv_index]

    # Get recommended movies
    rec_mov = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:7]

    # Print recommended movie titles
    for i in rec_mov:
        recommended_title = movie.iloc[i[0]]['title']
        print(recommended_title.title())

# Example usage:
recommend('Titan A.e.')  # Case-insensitive recommendation

Spirit: Stallion Of The Cimarron
Home
Escape From Planet Earth
U.F.O.
E.T. The Extra-Terrestrial
Lifeforce

C:\Users\chaud\AppData\Local\Temp\ipykernel_1852\1357064254.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['title_lower'] = movie['title'].str.lower()

In [58]:
movie

,id,title,tags,title_lower
0,19995,Avatar,action adventur fantasi sciencefict culturecla...,avatar
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drugabus exotici...,pirates of the caribbean: at world's end
2,206647,Spectre,action adventur crime spi basedonnovel secreta...,spectre
3,49026,The Dark Knight Rises,action crime drama thriller dccomic crimefight...,the dark knight rises
4,49529,John Carter,action adventur sciencefict basedonnovel mar m...,john carter
...,...,...,...,...
4804,9367,El Mariachi,action crime thriller unitedstates–mexicobarri...,el mariachi
4805,72766,Newlyweds,comedi romanc a newlyw couple' honeymoon is up...,newlyweds
4806,231617,"Signed, Sealed, Delivered",comedi drama romanc tvmovi date loveatfirstsig...,"signed, sealed, delivered"
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...,shanghai calling
4808,25975,My Date with Drew,documentari obsess camcord crush dreamgirl eve...,my date with drew

In [59]:
import pickle
pickle.dump(movie,open('moive.pkl','wb'))

In [60]:
import pickle
pickle.dump(movie.to_dict,open('movie_dict.pkl','wb'))

In [61]:
movie['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [62]:
pickle.dump(similarity_score,open('similarity_score.pkl','wb'))